:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color: #ccc;
  --background: #001825;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.body__wrapper {
  display: flex;
  flex-direction: column;
}
#projects,
#skills,
#contact {
  height: auto;
  width: 100vw;
}
h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  line-height: 1.2;
  padding: 20px;
}
.projectsview__section--title,
.skillsview__section--title,
.contactview__section--title {
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 30px;
  padding-bottom: 15px;
  margin-top: 50px;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}
.body__content--head {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.button__cta {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  line-height: 1.2;
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 20px #000000;
  border: none;
}
.button__cta:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}
.button__cta--icon {
  width: 24px;
  height: 24px;
}
.button__cta--small {
  width: 60%;
  max-width: 250px;
  height: 48px;
  font-size: 0.75rem;
  letter-spacing: 0.06rem;
  line-height: 1;
  padding: 10px 20px;
}
.button__cta--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.projects__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 0;
  margin: 0;
}
.project__item--wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #000000;
  width: 90vw;
  justify-content: space-between;
  margin-left: -18px;
}
.project__item--wrapper:hover .project__item--title {
  color: #68f563;
}
.project__item--title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  line-height: 1.2;
  transition: 0.5s;
}
.project__item--description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.06rem;
  line-height: 1.2;
}
.project__item--thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
}
.project__item--details > * {
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
#skills .skillsview__section--link {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.softskill__item--icon,
.hardskill__item--icon {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.hardskill__item--container {
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0px #000000;
}
.hardskill__item--container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #000000;
}
.hardskill__item--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.softskill__item--title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
.contact__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact__form--content {
  position: relative;
  width: 250px;
  padding-top: 16px;
}
.contact__form--content input,
.contact__form--content textarea {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
}

.contact__form--content label {
  position: absolute;
  left: 0;
  top: 16px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.758);
  text-transform: uppercase;
  transition: 0.5s;
}

.contact__form--content input:valid ~ label,
.contact__form--content input:focus ~ label,
.contact__form--content textarea:valid ~ label,
.contact__form--content textarea:focus ~ label {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 20px;
  background: #1d2b3a;
  border-radius: 5px;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.contact__form--content input:valid,
.contact__form--content input:focus,
.contact__form--content textarea:valid,
.contact__form--content textarea:focus {
  border: 1px solid #00dfc4;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
/*Device too slow only : replace threejs*/
.mobile__herobanner--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.portrait_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 256px;
  object-fit: cover;
  object-position: center;
  padding: 10px;
}
.socialbar__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.socialbar__list {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 10px;
  padding: 0;
  width: 100%;
}
.socialbar__element {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: 0.5s;
}
.socialbar__element--link {
  position: relative;
  text-decoration: none;
  color: var(--color);
  z-index: 10;
  font-size: 2em;
  transition: 0.5s;
}
.socialbar__element:hover {
  z-index: 1000;
  transform: scale(0.75);
}
.socialbar__element::before {
  content: '';
  position: absolute;
  inset: 30px;
  box-shadow: 0 0 0 10px var(--color), 0 0 0 20px var(--background), 0 0 0 22px var(--color);
  transition: 0.5s;
}
.socialbar__element:hover::before {
  inset: 0px;
}
.socialbar__element::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--background);
  transform: rotate(45deg);
}
.socialbar__element:hover .socialbar__element--link {
  font-size: 3em;
  filter: drop-shadow(0 0 20px var(--color)) drop-shadow(0 0 40px var(--color))
    drop-shadow(0 0 60px var(--color));
}
@media screen and (min-width: 768px) {
  header {
    flex: 30;
  }
  .body__content--head {
    height: 100vh;
    flex-direction: row;
  }
  .canvas__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50;
    height: 60vh;
    width: 100%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: 1.5s all;
  }
  .canvas__container:hover {
    cursor: pointer;
    flex: 1 1 100;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  canvas {
    border-radius: 20px;
  }
  .projects__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    padding: 40px;
  }
  .project__item--wrapper {
    flex: 1 1 30%;
    height: 600px;
    border-radius: 20px;
    transition: box-shadow 0.5s;
  }
  .project__item--wrapper:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #000000;
  }
  .project__item--thumbnail {
    height: 300px;
    border-radius: 15px;
  }
  .project__item--details > * {
    font-size: 0.9rem;
  }
}
